<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <InstallSitecoreConnector>True</InstallSitecoreConnector>
        <LightningDeployMode>False</LightningDeployMode>
        <SitecoreAccessGuid></SitecoreAccessGuid>
    </PropertyGroup>
    <PropertyGroup Condition="'$(Configuration)' == 'Azure'">
        <SitecoreWebUrl></SitecoreWebUrl>
        <SitecoreDeployFolder></SitecoreDeployFolder>
    </PropertyGroup>
    <ItemGroup>
        <ExcludedAssemblies Include="ClearScriptV8-%2a.dll" />
        <ExcludedAssemblies Include="Sitecore.%2a.dll" />
        <ExcludedAssemblies Include="System.Net.Http.Formatting.dll" />
    </ItemGroup>
</Project>