@using Newtonsoft.Json
@model Recommender.AgendaContent.Models.AgendaModel
@{
    var json = JsonConvert.SerializeObject(Model.Sessions);
}
<script>
$(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'agendaWeek,listWeek'
      },
	  defaultView: 'agendaWeek',
      defaultDate: '2018-10-8',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
        events:@json
    });
  });

</script>
<style>
    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>

<div id='calendar'></div>